.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
 .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.input-group input:focus{
    outline:1px solid #F99417;
}
.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.submit-button {
    background-color: #F99417;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



@media(max-width:768px){
    #burger-icon-1{
        display: block;
    }
    .grid-sidebar{
        display: none;
    }
    .grid-body hr{
        width:90%;
    }
}