*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 1.4rem;
    width: 100%;
}
.title-container{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 5% 10% 0 10%;
}
.title{
    color: #5D3891;
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Righteous";
}
.title p{
    font-size: 5rem;
}
.title .brief{
    font-size: 30px;
}
.welcome-img{
    width: 100%;
}
.welcome-img img{
    width: 80%;
    margin-left: 10%;
}
.brief{
    letter-spacing: 3px;
    color: #333;
    margin-top: 2rem;
}

.brief::before{
    content: "";
    border: 2px solid black;
    width: 50px;
    transform: translateY(-2px);
    opacity: .5;
    display: inline-block;
}

#register a{
    text-decoration: none;
    color: white;
}
#register{
    font-family: Righteous;
    font-weight: lighter;
    font-size: 1.3rem;
    background-color: #F99417;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 2rem;
    width: 25%;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 576px) {
    .title-container{
        flex-direction: column;
        justify-content: center;
        height: 700px;
    }
    .title{
        align-items: center;
        margin-bottom: 3rem;
    }
    .title p {
        font-size: 2rem;
    }

    .title .brief {
        font-size: 20px;
        text-align: center;
    }
    .brief::before{
        content: none;
    }
    #register {
        width: 80%; /* Adjusted for smaller screens */
    }
}

/* Medium screens (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .title-container{
        flex-direction: column;
        justify-content: center;
        height: 700px;
    }
    .title{
        align-items: center;
        margin-bottom: 3rem;
    }
    .title p {
        font-size: 3rem;
    }
    .title .brief {
        text-align: center;
    }
    .brief::before{
        content: none;
    }
    .welcome-img img{
        width: 90%;
    }
    #register {
        width: 60%; /* Adjusted for medium screens */
    }
}